@model Interpreter.Models.InterpreterJob

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>InterpreterJob</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DestinationFlag" class="control-label"></label>
                <input asp-for="DestinationFlag" class="form-control" />
                <span asp-validation-for="DestinationFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FontFamily" class="control-label"></label>
                <input asp-for="FontFamily" class="form-control" />
                <span asp-validation-for="FontFamily" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FontSize" class="control-label"></label>
                <input asp-for="FontSize" class="form-control" />
                <span asp-validation-for="FontSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EmojiSupport" /> @Html.DisplayNameFor(model => model.EmojiSupport)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label"></label>
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsConverted" /> @Html.DisplayNameFor(model => model.IsConverted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConvertedContent" class="control-label"></label>
                <input asp-for="ConvertedContent" class="form-control" />
                <span asp-validation-for="ConvertedContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreHeaderMetaData" class="control-label"></label>
                <input asp-for="PreHeaderMetaData" class="form-control" />
                <span asp-validation-for="PreHeaderMetaData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DividerIdentifier" class="control-label"></label>
                <input asp-for="DividerIdentifier" class="form-control" />
                <span asp-validation-for="DividerIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
