body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.forgetPassword {
    margin-left: 56%;
    font-size: 11px;
}

.navbar-collapse.collapse.nonUserNavbar {
    color: dimgrey;
    margin-top: 1.1%;
    float: right;
}

.btn.btn-default.logout{
    float:right;
    margin-top:0.7%;
}

.registrationForm {
    padding: 8%;
}

    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-collapse.collapse {
        margin-top: 1.5%;
    }
}

@media screen and (width: 1200px) {
    .navbar-collapse.collapse {
        margin-top: 1.1%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-collapse.collapse {
        float: left;
    }
    .navbar-collapse collapse in {
        width:100%;
    }
}


@media screen and (max-width: 767px) {
    /* Hide captions */
    .navbar-collapse.collapse input {
        width: 100%;
    }
}


